---
# Set up CLI access
- name: "Create Jenkins CLI destination directory: {{ jenkins_dest }}"
  file:
    path: "{{ jenkins_dest }}"
    state: "directory"

- name: Get Jenkins CLI
  get_url:
    url: "{{ jenkins_api_url }}jnlpJars/jenkins-cli.jar"
    dest: "{{ jenkins.cli_dest }}"
    mode: "0444"
  register: jenkins_local_cli
  until: "'OK' in jenkins_local_cli.msg or 'file already exists' in jenkins_local_cli.msg"
  retries: 5
  delay: 10

- name: "Enable the JNLP port (set to 'random')"
  xml:
    file: "{{ jenkins_lib }}/config.xml"
    xpath: "/hudson/slaveAgentPort"
    value: "0"
  register: jnlp_enabled

- name: "Hard-restart Jenkins if required (for JNLP to take effect)"
  service:
    name: "jenkins"
    state: "restarted"
  when: "{{ jnlp_enabled.changed }}"
